<header>Angular Weather App</header>

<div>
  <video autoplay loop class="video" #video>
    <source src="../../assets/default.mp4" type="video/mp4">
  </video>
</div>

<section class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <p class="input-desc">Type a location and press Search</p>
      </div>
      <div class="col-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="for example: Madrid"
                 aria-label="Recipient's username" aria-describedby="button-addon2"
                 #weather (keyup.enter)="searchWeather(weather.value)">
          <button class="btn btn-primary" type="button" id="button-addon2"
                  (click)="searchWeather(weather.value)">Search</button>
        </div>
        <section class="city-list">
          <button *ngFor="let city of cities"
                  class="btn btn-light btn-city"
                  (click)="searchWeather(city)">{{city}}
          </button>
        </section>

        <div class='row' *ngIf='weatherData.name !== ""'>
          <div class="col-12">
            <h2>Temperature in {{weatherData.name}} is {{weatherData.temp | number: '1.0-0' }}°C</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
